html(ng-app="app" ng-cloak)

	head
		
		meta(charset="UTF-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")

		//- inject:css
		//- endinject

		block head

	body(ng-controller="app.ctrl as app")

		block body
			
		//- inject:js
		//- endinject