.l-content
	&.m-info
		padding-top: 55px
		padding-bottom: 85px

		.col-xs-12
			padding-bottom: 20px;
			min-height: 300px;

		.icon
			height: 55px
			margin-bottom: 14px

		.text
			color $black
			&.m-1
				font-family: "Helvetica";
				font-size: 14px
				line-height: 22px;
				font-weight: 400
				text-transform: uppercase
				margin-bottom: 20px

			&.m-2
				font-family: "Myriad Pro";
				font-size: 14px
				line-height: 22px;
				font-weight: 100

		button
			margin-top: 20px




	&.m-map
		margin-bottom: 130px
		overflow: hidden
		.map-iframe
			max-width 100%
	//&.m-video