@import "../bootstrap-stylus/bootstrap/_index_azbuka_vkusa.styl"
@import "helpers/index"
@import "../font/index"
@import "common"
@import "components/icons"
@import "components/map"
@import "header"
@import "content"
@import "footer"


// debug
//*
//	outline 1px dotted black
//
//html
//	width: 1600px
//	height: 3574px
//
//	background: url('/assets/img/dev_background.png')
//	background-size: 100%
//	background-repeat no-repeat
//
//body
//	background: rgba(255,255,255,0.1);
//
//.l-header
//	height: 840px
//	background-image: url('/assets/img/dev_header.jpg')
	//opacity 0.5

//.l-content
	//&.m-info
	//	height: 430px
	//&.m-map
	//	height: 904px
	//	background-image: url('/assets/img/dev_map.jpg')
	//&.m-video
	//	height: 896px
	//	background-image: url('/assets/img/dev_video.jpg')

// debug end

$black = #232323;
