.map-iframe
	overflow: hidden
	margin: 0 auto
	width: 980px;
	iframe
		border: 0px none;
		margin: -281px auto 0 auto;
		height: 861px;
		width: 980px;
		-webkit-resize:none;
		-moz-resize:none;
		resize:none;


.display_none
	display: none
@media all {
	.shops_search_header {
		padding: 10px 12px 14px;
		position: relative
	}
	.shops_search_header_text {
		margin: 15px 0 -10px
	}
	.shops_search_header_city_toggler {
		height: 35px;
		line-height: 35px;
		margin-bottom: 10px;
		font-family: GalsLight
	}
	.shops_search_header_searcher {
		width: 400px;
		float: left
	}
	.shops_search_header_city_toggler a {
		display: inline-block;
		font-size: 22px;
		padding: 0 9px;
		border-bottom: none;
		margin-right: -2px
	}
	.shops_search_header_city_toggler a.active, .shops_search_header_city_toggler a.active:hover {
		color: #fff;
		background: #4c721e
	}
	.shops_search_header_city_toggler a.active .link_dotted {
		border-color: transparent;
		color: #fff
	}
	.shops_search_header_city_filters {
		text-align: right;
		margin-top: 3px
	}
	.shops_search_header_city_filters a {
		margin-left: 7px;
		margin-right: 7px;
		line-height: 28px
	}
	.shops_search_header_city_filters a.simple_green_btn {
		margin-right: -1px;
		padding: 0 9px
	}
	.shops_search_header_city_dopmenu {
		text-align: right;
		padding-right: 7px
	}
	.simple_green_btn {
		background: #4c721e;
		color: #fff;
		line-height: 28px;
		padding: 0 10px;
		display: inline-block
	}
	.filter_btn_i i {
		margin-right: 5px
	}
	.simple_green_btn:focus, .simple_green_btn:hover {
		color: #fff
	}
	.shops_search_map {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px
	}
	.shops_search_map:after {
		content: '';
		position: absolute;
		left: 10px;
		right: 10px;
		top: -25px;
		height: 25px;
		background: #FFF;
		display: block;
		border-radius: 55%/50%;
		box-shadow: 0 5px 6px 0 rgba(0, 0, 0, .15)
	}
	.shops_search_map_cont {
		width: 72.2%;
		margin-right: -3px;
		height: 482px
	}
	.shops_search_map_menu {
		width: 27.8%;
		float: right;
		margin-right: -3px;
		height: 482px;
		overflow-y: auto;
		border-bottom: 2px solid #DFDFDF
	}
	.shops_search_map_cont>ymaps {
		height: 100%
	}
	.shops_menu {
		padding: 6px 0
	}
	.shops_menu li {
		display: block;
		min-height: 25px;
		line-height: 25px;
		padding: 0 7px 0 20px
	}
	.shops_menu li a {
		display: block;
		position: relative;
		font-size: 15px;
		padding-right: 12px
	}
	.shops_menu_item .link_dotted {
		display: inline-block;
		padding: 0 10px;
		position: relative;
		left: -10px;
		line-height: 1.4em
	}
	.shops_menu_item.active .link_dotted, .shops_menu_item:hover .link_dotted {
		background: #4c721e;
		color: #fff;
		border-color: transparent
	}
	.shops_menu li a i {
		position: absolute;
		top: 1px;
		right: 0
	}
	.shop_rating_i, .shop_rating_i_a {
		background: #CACACA;
		display: inline-block;
		margin-right: -4px;
		border-right: 2px solid #FFF;
		width: 17px;
		height: 15px;
		//display: inline;
		//zoom: 1
	}
	.shop_rating_i_a {
		background: #93c13a
	}
	.shop_page_ratihgs_block {
		height: 137px;
		padding-left: 8px;
		margin-top: -4px
	}
	.shop_page_ratihgs_block .block_star_rating {
		display: inline-block;
		vertical-align: middle
	}
	.shop_page_ratihgs_block .block_graphic {
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px
	}
}